/* RESETS */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

body {
    font-family: 'Montserrat';
}

li {
    list-style: none;
}

h1 {
    font-size: 2.5rem;
}

.title-section {
    font-size: 2rem;
    border-bottom: 2px solid rgb(94, 144, 153);
    padding-bottom: 10px;
}

.listTodo {
    background: #eee;
    min-height: 50vh;
    border-radius: 5px;
    border: 1px solid rgb(94, 144, 153);
}

.task-title {
    color: black;
    font-size: 1.5rem;
}

.btnTask {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.delete {
    color: rgb(255, 0, 0);
}

.do {
    color: rgb(6, 156, 6);
}

.buttons {
    margin-top: 20px;
}

.buttons a:hover {
    box-shadow: 2px 2px 5px #666;
}

.btnDone {
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: 200px;
}

.doneAll {
    margin-top: 10px;
}

@media (min-width: 1100px) {
    .doneAll {
        margin-top: 0 !important;
    }
}