<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>

<body>
    <div id="app">
        <header class="text-center py-2">
            <h1 class="center-align">Lista de tareas</h1>
        </header>

        <div class="container">
            <div class="row">
                <form action="" class="col s12">
                    <input type="text" id="inputTask" placeholder="¿Tienes algo que hacer?" class="validate col s10" v-model="task.text">
                    <input type="submit" class="col s2 btn addTask" value="Añadir" v-on:click.prevent="addTask">
                </form>
            </div>
        </div>
        <div class="container listTodo">
            <div class="row">
                <div id="do" class="col s6">
                    <h2 class="center-align title-section">A realizar:</h2>
                    <div>
                        <ul class="container-fluid tasksDo">
                            <li v-for="task in tasksDo">
                                <p class="col s8">{{task.text}}</p>
                                <a class="do col s2" v-on:click.prevent="moveTaskToDone">{{task.btnDo}}</a>
                                <a class="delete col s2" v-on:click.prevent="deleteTask">{{task.btnDelete}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="done " class="col s6 ">
                    <h2 class="center-align title-section ">Realizadas:</h2>
                    <div>
                        <ul class="container-fluid tasksDone">
                            <li v-for="task in tasksDone">
                                <p class="col s8">{{task.text}}</p>
                                <a class="do col s2" v-on:click.prevent="moveTaskToDone">{{task.btnDo}}</a>
                                <a class="delete col s2" v-on:click.prevent="deleteTask">{{task.btnDelete}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row buttons">
                <div class="container col s6">
                    <a class="btn red darken-4 clearDo" v-on:click="allDeletedTasksDo">Eliminar todas</a>
                    <a class="btn green darken-2 doneAll" v-on:click="allTasksDone" id="doneAll">Todas realizadas</a>
                </div>
                <div class="container col s6 btnDone">
                    <a class="btn red darken-4 clearDone" v-on:click="allDeletedTasksDone">Eliminar todas</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                task: {
                    text: "",
                    btnDo: "✓",
                    btnDelete: "X",
                    id: null
                },
                tasksDo: [

                ],
                tasksDone: [

                ]
            },
            methods: {
                addTask() {
                    let timestamp = new Date().getTime();
                    if (this.task.text !== "") {
                        this.tasksDo.unshift({
                            text: this.task.text,
                            btnDo: "✓",
                            btnDelete: "X",
                            id: timestamp
                        })
                        this.task.text = ""
                    } else {
                        alert('Introduce una tarea por favor.')
                    }
                },
                moveTaskToDone(e) {
                    let taskSelect = e.target.parentElement.firstElementChild.textContent
                    this.tasksDo.forEach((task, index) => {
                        if (task.text === taskSelect) {
                            this.tasksDone.push(task)
                            this.tasksDo.splice(index, 1)
                            task.btnDo = ""
                        }
                    })
                },
                deleteTask(e) {
                    e.target.parentElement.remove()
                },
                allDeletedTasksDo() {
                    this.tasksDo = []
                },
                allDeletedTasksDone() {
                    this.tasksDone = []
                },
                allTasksDone() {
                    this.tasksDo.forEach(task => {
                        this.tasksDone.push(task)
                    })
                    this.allDeletedTasksDo()
                }
            }
        })
    </script>
</body>

</html>