<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./old_version/css/style.css">
  <title>To Do List</title>
</head>

<body>
  <div id="app">

    <input v-model="newTask" type="text" class="inputTask" placeholder="Añadir tarea...">
    <button v-on:click="addTask" class="addBtn">Añadir</button>

    <div class="todo">
      <h3>TO DO</h3>
      <ul class="todo-list">
        <li v-for="task in pendingTasks" v-on:click="task.done=true" :key="task.id"> {{ task.text }}</li>
      </ul>
    </div>

    <div class="done">
      <h3>DONE</h3>
      <ul class="done-list">
        <li v-for="task in doneTasks" v-on:click="task.done=false" :key="task.id">{{ task.text }}</li>
      </ul>
    </div>
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        toDo: [{
          id: 1,
          text: "salir a la calle",
          done: false
        }],
       // done: [{
         // id: 2,
         // text: "ir a la playa"
        //}],
        newTask: ""
      },
      computed: {
        // se cambia arriba en el boton  toDo por pendingTasks
        pendingTasks(){
          return this.toDo.filter( (item) => item.done===false )
        },
        //se cambia arriba en el boton done por doneTasks
        doneTasks(){
          return this.toDo.filter ( (item) => item.done===true)
        }
      },
      methods: {
        addTask() {
          let timestamp = new Date().getTime();
          this.toDo.unshift({
            id: timestamp,
            text: this.newTask,
            done : false
          })
          this.newTask = ""
        },
       // moveToDone(task) {

         // task.done = true

          //console.log(task)
          //let id = task.id
         // this.done.unshift(task)
         // let index = this.toDo.findIndex( (item) => item.id===id )
         // this.toDo.splice(index, 1)
      //  },
      //  moveTodo(task) {

//task.done = false
         // console.log(task)
          //let id = task.id
         // this.toDo.unshift(task)
         // let index = this.done.findIndex( (item) => item.id===id )
         // this.done.splice(index, 1)
      //  },
      }
    })
  </script>
</body>

</html>